NEXT_PUBLIC_CHAIN_ID=4663
NEXT_PUBLIC_RPC_URL=https://rpc.mainnet.chain.robinhood.com
NEXT_PUBLIC_EXPLORER_URL=https://robinhoodchain.blockscout.com

NEXT_PUBLIC_COLLECTION_ADDRESS=
NEXT_PUBLIC_IGNITE_ADDRESS=
NEXT_PUBLIC_HOPPER_ADDRESS=
NEXT_PUBLIC_PULSE_ADDRESS=
NEXT_PUBLIC_SPLITTER_ADDRESS=
NEXT_PUBLIC_TERM_ADDRESS=
NEXT_PUBLIC_TERM_FUND_ADDRESS=
NEXT_PUBLIC_TERM_MARKET_ADDRESS=

NEXT_PUBLIC_OPENSEA_URL=
NEXT_PUBLIC_X_URL=
